<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">



    <context:property-placeholder location="classpath:quotes.properties"/>

    <bean class="quoters.BeanDefinitionValidatorBeanFactoryPostProcessor"/>
    <bean class="mySpring.configurators.InjectRandomIntAnnotationObjectConfigurator"/>


    <context:annotation-config/>

    <bean id="s" class="java.lang.String">
        <constructor-arg value="get daaaaaaaaaaaawn"/>
    </bean>
    <bean id="robot" class="quoters.TalkingRobotImpl">


        <property name="quoters">
            <list>
                <ref bean="shakespearQuoter"/>
                <ref bean="terminatorQuoter"/>
            </list>
        </property>
    </bean>
    <bean id="shakespearQuoter" class="quoters.ShakespearQuoter">
        <property name="message" value="${shake}"/>
    </bean>

    <bean id="terminatorQuoter" destroy-method="killAll" class="quoters.TerminatorQuoter">
        <property name="messages">
            <list>
                <value>I'll be back</value>
                <ref bean="s"/>
                <value>Astalavista baby</value>
            </list>
        </property>
    </bean>
</beans>