<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="speaker" class="mySpring.PopupSpeaker"/>
    <bean id="cleaner" class="mySpring.CleanerImpl"/>



    <bean lazy-init="true" id="robot" class="mySpring.IRobot">
        <property name="speaker" ref="speaker"/>
        <property name="cleaner" ref="cleaner"/>
    </bean>
</beans>